body {
min-width: 1600px;
margin: 0;
padding: 0;
font-size: 14px;
line-height: 21px;
color: #000000;
font-family: "Lato", "arial", sans-serif;
text-transform: uppercase;
background-color: #f2f2f2;
}

html,
body {
height: 100%;
}

main {
width: 1600px;
}

a {
text-decoration: none;
}



.page-header {
display: flex;
background-image: url("../img/index-bg.jpg");
background-position: center;
background-repeat: no-repeat;
background-color: #eef0f6;
height: 800px;
justify-content: center;
}

.main-nav {
width: 625px;
display: flex;
justify-content: center;
}

.main-nav-list {
font-size: 13px;
line-height: 26px;
list-style: none;
font-weight: bold;
display: flex;
margin: 0;
padding: 0;
justify-content: center;
}

.logo {
margin-top: 35px;
left: 50%;
margin-left: 75px;
margin-right: 64px;
}

.nav {
margin-top: 66px;
position: relative;
}

.nav:nth-of-type(2n+1):after {
content: ".";
position: absolute;
}

.main-nav-list a {
color: #4d4959;
}

.features {
background-color: #f7f7f7;
text-align:center;
font-size: 18px;
line-height: 34px;
}

.new-generation {
padding-top: 117px;
padding-bottom: 140px;
}

.features p {
text-transform: none;
color: #9b9d9f;
}

.features h3 {
letter-spacing: 2px;
}

.feaut-line {
  position: relative;
}

.feaut-line-vin {
  height: 201px;
}

.feaut-line-la-bor {
  height: 199.5px;
}

.feaut-line-retro {
  height: 199.5px;
}

.feaut-line img {
  height: 100%;
  width: auto;
  padding-top: 70px;
}

.retro h3 {
margin-top: 0;
margin-bottom: 13px;
}

.feaut-line::before {
width: 50px;
content: '';
position: absolute;
border-bottom: 2px solid #d7d7d7;
right: 240px;
top: 20px;
}

.new-generation p {
padding-left: 275px;
padding-right: 240px;
}

.new-generation h3 {
padding-left: 275px;
padding-right: 240px;
}

main {
margin: 0 auto;
}

.vin-img {
background-color: #282f35;
width: 1067px;
height: 600px;
}

.features-text {
width: 33.3334%;
padding-top: 70px;
background-color: #fff;
font-size: 16px;
line-height: 30px;
}

.features-text p {
padding-right: 60px;
padding-left: 60px;
text-align: justify;
margin-top: 0px;
}

.vintage {
overflow: hidden;
display: flex;
}

.la-bor-img {
background-color: #282f35;
height: 600px;
width: 1067px;
}

.la-bor-text {
width: 33.3334%;
padding-top: 60px;
background-color: #fff;
}


.la-boriosa {
overflow: hidden;
display: flex;
}

.retro {
display: flex;
}

.retro-left-img {
background-color: #282f35;
width: 33.3334%;
height: 600px;
}

.retro-right-img {
background-color: #282f35;
width: 33.3334%;
height: 600px;
}

.retro-text {
width: 33.3334%;
padding-top: 58px;
background-color: #fff;
}

.galery {
background-color: #282f35;
width: 100%;
}

.gal-left {
display: flex;
flex-wrap: wrap;
width: 33.3334%;
height: 534px;
}

.gal-left-top {
display: flex;
height: auto;
}

.gal-left-top img,
.gal-left-batton img,
.gal-right-top img,
.gal-right-button img {
height: 100%;
width: auto;
}

.gal-left-top,
.gal-left-batton,
.gal-right-top,
.gal-right-button {
height: 267px;
}

.gal-center {
display: flex;
height: 534px;
}

.gal-center img {
height: 100%;
width: auto;
}

.gal-right {
display: flex;
flex-wrap: wrap;
height: 534px;
}


.gal-right-button {
display: flex;
}

.galery-img {
display: flex;
}

.discover {
width: 100%;
height: 200px;
background-color: #282f35;
}

.btn-discover {
display: block;
border-radius: 0px;
border: 1px solid #94979a;
background-color: #282f35;
outline: none;
padding-left: 60px;
padding-right: 55px;
padding-top: 18px;
padding-bottom: 18px;
font-size: 14px;
letter-spacing: 2px;
color: #fff;
text-transform: uppercase;
cursor:pointer;
}

.btn {
padding-top: 75px;
padding-right: 650px;
padding-left: 650px;
}

.offer {
background-color: #fff;
text-align: center;
}

.offer-img {
padding-top: 109px;
}

.offer-title {
text-transform: none;
color: #848789;
}

.form-offer {
display: flex;
padding-top: 34px;
padding-bottom: 111px;
justify-content: center;
}

.btn-enter {
display: block;
border-radius: 0px;
border: 1px solid #d1d1d1;
background-color: #fff;
outline: none;
padding-left: 25px;
padding-right: 225px;
padding-top: 27px;
padding-bottom: 23px;
font-size: 20px;
color: #d1d1d1;
text-transform: lowercase;
font-style: italic;
}

.btn-go {
display: block;
border-radius: 0px;
border: 1px solid #64c29e;
background-color: #64c29e;
outline: none;
padding-left: 49px;
padding-right: 47px;
padding-top: 27px;
padding-bottom: 23px;
font-size: 24px;
color: #fff;
text-transform: uppercase;
margin-left: 8px;
}

.footer-wrapper {
display: flex;
width: 1600px;
background-color: #f7f7f7;
margin: 0 auto;
justify-content: center;
}

.footer-info {
width: 1100px;
margin: 0 auto;
display: flex;

}

.social  {
margin-top: 108px;
margin-bottom: 108px;
}

.social  ul {
display: flex;
margin: 0 auto;
list-style: none;
padding: 0;
}

.social-btn-fb {
margin-left: 15px;
margin-right: 15px;
}

.info {
color: #4d4959;
margin-top: 96px;
margin-bottom: 100px;
font-size: 13,9px;
text-transform: none;

}

.info b {
font-size: 16px;
}